<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Twitter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                {{#if user}}    
                    <li class="nav-item">
                        <a class="nav-link text-capitalize" href="/user/{{user._id}}">{{user.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-capitalize">Logout</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>