<div class="starter-template">
    <div class="lead">
        What is happening?
    </div>
</div>
<div class="row">
    <div class="col-6 mx-auto">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="tweet">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" id="sendTweet">Tweet</button>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-6 mx-auto">
        <div id="tweets">
            <div class="media">
                <img src="{{user.photo}}" class="mr-3 align-self-center" width="64px" alt="user photo">
                <div class="media-body">
                    <h5 class="mt-0">{{user.name}}</h5>
                    <p>Hello my name is kamy</p>
                </div>
            </div>
        </div>
    </div>
</div>