<div class="starter-template">
    <div class="lead">
        What is happening?
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 mx-auto col-lg-6">
        <form id="sendTweet">
            <div class="form-group">
                <input type="text" class="form-control" id="tweet">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" >Tweet</button>
            </div>
        </form>
        <div id="tweets">
            {{#each tweets}}
            <div class="media mb-3">
                <a href="/user/{{owner._id}}" class="media text-body">
                    <img src="{{owner.photo}}" class="mr-3 align-self-center" width="64px" alt="user photo">
                    <div class="media-body">
                        <h6 class="mt-0 text-capitalize">{{owner.name}}</h6>
                        <p>{{content}}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
