<div class="starter-template">
    <h1>Join now Follow Celebrites and Entrepreneurs</h1>        
    <p class="lead">Its` free and will always be, signup and enjoy a new social experience.</p>
</div>
<div class="row">
    <div class="col-6 d-flex justify-content-end">
        <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
    </div>
    <div class="col-6">
        <a class="btn btn-primary btn-lg" href="/login">Login</a>
    </div>
</div>